* {
  margin: 0;
  padding: 0;
}
.fl {
  float: left;
}
.pr {
  position: relative;
}
.pa {
  position: absolute;
}
.fr {
  float: right;
}
img {
  display: block;
}
a {
  color: gray;
  font-size: 12px;
  text-decoration: none;
}
.list {
  list-style-type: none;
}
.main {
  width: 1100px;
  margin: 0 auto;
}
.mainColor {
  color: rgb(237, 20, 91);
}
.mainbcColor {
  background-color: rgb(237, 20, 91);
}

.top {
  height: 88px;
  border-bottom: 2px solid gray;
  > .top-icon {
    padding: 24px 0;
  }
}
#without {
  padding: 24px;
  margin-top: 28px;
  > .che {
    height: 88px;
    > .iconfont {
      font-size: 118px;
      color: gray;
    }
  }
  > .meiyou {
    margin-right: 100px;
    > .p1 {
      font-size: 28px;
      color: gray;
    }
    > .p2 {
      font-size: 16px;
      margin-top: 42px;
      color: gray;
      > a {
        //   display: block;
        color: #fff;
        font-size: 16px;
        margin: 0 12px;
        padding: 6px 12px;
        background-color: rgb(237, 20, 91);
      }
    }
  }
}
