* {
  margin: 0;
  padding: 0;
}
.fl {
  float: left;
}
.pr {
  position: relative;
}
.pa {
  position: absolute;
}
.fr {
  float: right;
}
img {
  display: block;
}
a {
  color: gray;
  font-size: 12px;
  text-decoration: none;
}
a:hover,
a:focus {
  text-decoration: none;
}
.list {
  list-style-type: none;
}
.main {
  width: 1100px;
  margin: 0 auto;
}
.mainColor {
  color: rgb(237, 20, 91);
}
.mainbcColor {
  background-color: rgb(237, 20, 91);
}
.top {
  height: 32px;
  font-size: 12px;
  color: gray;
  line-height: 32px;
  background-color: rgb(242, 242, 242);
}
.top span {
  margin-right: 24px;
  :hover {
    color: rgb(237, 20, 91);
  }
}
.myjm {
  z-index: 99;
  display: none;
  right: -20px;
  width: 80px;
  border: 1px solid gray;
  border-top: none;
  > ul {
    margin-left: 12px;
    color: gray;
    > li:hover {
      color: rgb(237, 20, 91);
    }
  }
}
.top .myjm ul:hover {
  color: gray;
}
.more {
  right: -28px;
}
.top .mobile {
  font-size: 12px;
}

.heander {
  height: 110px;
  > .cont {
    display: flex;
    > div {
      width: 366px;
      justify-content: space-around;
    }
    > .form {
      width: 700px;
      margin-top: 12px;
      form {
        height: 40px;
      }
      ul {
        height: 28px;
        margin-top: 8px;
        > li {
          height: 20px;
          padding: 0px 6px;
          text-align: center;
          border-right: 1px solid gray;
          > a {
            color: gray;
            font-size: 12px;
          }
        }
        :last-of-type {
          border-right: none;
        }
      }
    }
    > .cart {
      //   width: 138px;
      height: 34px;
      font-size: 12px;
      color: gray;
    }
  }
}

.search-input {
  width: 438px;
  height: 38px;
  border: 4px solid rgb(237, 20, 91);
  border-right: none;
}
.search-btn {
  height: 38px;
  width: 90px;
  color: white;
  line-height: 38px;
  text-align: center;
  background-color: rgb(237, 20, 91);
}
.heander .cont .cart {
  margin-top: 12px;
  width: 140px;
  height: 38px;
  font-size: 12px;
  text-align: center;
  line-height: 38px;
  border: 1px solid gray;

  > a {
    color: gray;
    text-decoration: none;
    > .icon-che {
      font-size: 24px;
    }
  }
}
.nav {
  background-color: rgb(21, 21, 21);
  height: 38px;
  > .cont {
    color: white;
    font-weight: 400;
    height: 38px;
    > ul {
      width: auto;
      height: 100%;
      > li {
        width: 108px;
        height: 100%;
        text-align: center;
        line-height: 30px;
      }
      :hover {
        color: rgb(180, 165, 169);
      }
    }
    > .ul2 {
      > li {
        > span {
          font-size: 24px;
        }
      }
    }
  }
}
.fq {
  display: none;
  width: 1200px;
  height: 312px;
  top: 38px;
  left: -325px;
  border: 1px solid gray;
  padding: 6px 12px;
  z-index: 99;
  background-color: white;
  > div {
    padding: 0 24px;
    width: 288px;
    height: 138px;
    margin-bottom: 18px;
    border-right: 1px dashed gray;
    > dl {
      > dt {
        font-weight: 400;
        margin-top: 12px;
        margin-bottom: 12px;
        > a {
          font-size: 16px;
          color: black;
        }
      }
      > dd {
        // margin-top: 12px;
        padding: 0 6px;
        a {
          color: gray;
          font-size: 14px;
        }
        :first-child {
          width: 100%;
        }
      }
    }
  }
  > .div-4 {
    border-right: none;
  }
}
.right {
  height: 1660px;
  width: 42px;
  background-color: rgb(68, 72, 81);
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
  box-sizing: border-box;
  color: white;
  .kefu {
    width: 100%;
    margin-top: 150px;
    > .kefubox {
      z-index: 99;
      display: none;
      padding: 12px;
      right: 42px;
      top: 148px;
      width: 288px;
      height: 208px;
      color: black;
      border: 1px solid gray;
      background-color: white;
      // border-bottom:1px dashed gray ;
      .girl {
        margin-top: 28px;
        width: 288px;
        text-align: center;
        border-bottom: 1px dashed gray;
        margin-bottom: 12px;
        > img {
          margin-left: 100px;
          margin-bottom: 12px;
        }
      }
      > button {
        width: 100px;
        height: 36px;
        line-height: 36px;
        text-align: center;
      }
      .dingdan {
        margin-left: 36px;
        margin-right: 12px;
      }
      .glyphicon {
        font-size: 24px;
      }
    }
    > span {
      padding: 0 6px;
      display: block;
      width: 100%;
      height: 40px;
      font-size: 30px;
    }
  }
  .cart {
    color: white;
    margin-top: 28px;
    height: 118px;
    padding-top: 12px;
    > span {
      padding: 0 6px;
      display: block;
      width: 100%;
      height: 40px;
      font-size: 24px;
      > p {
        font-size: 14px;
        margin-left: -6px;
        text-align: center;
      }
    }
  }
  .money {
    width: 100%;
    margin-top: 28px;
    > span {
      padding: 0 6px;
      display: block;
      width: 100%;
      height: 40px;
      font-size: 30px;
    }
    > div {
      width: 88px;
      height: 42px;
      right: 42px;
      top: 0;
      display: none;
      text-align: center;
      line-height: 42px;
      background-color: rgb(68, 72, 81);
    }
  }
}
.xinyuan {
  width: 100%;
  margin-top: 28px;
  > span {
    padding: 0 6px;
    display: block;
    width: 100%;
    height: 40px;
    font-size: 24px;
  }
  > div {
    width: 88px;
    height: 42px;
    right: 42px;
    top: 0;
    display: none;
    text-align: center;
    line-height: 42px;
    background-color: rgb(68, 72, 81);
  }
}
.zuji {
  width: 100%;
  margin-top: 28px;
  > span {
    padding: 0 6px;
    display: block;
    width: 100%;
    height: 40px;
    font-size: 30px;
  }
  > div {
    width: 88px;
    height: 42px;
    right: 42px;
    top: 0;
    display: none;
    text-align: center;
    line-height: 42px;
    background-color: rgb(68, 72, 81);
  }
}

.cart:hover {
  background-color: rgb(237, 20, 91);
}
.kefu:hover {
  background-color: rgb(237, 20, 91);
}
.zuji:hover {
  background-color: rgb(237, 20, 91);
}
.money:hover {
  background-color: rgb(237, 20, 91);
}
.xinyuan:hover {
  background-color: rgb(237, 20, 91);
}

.body {
  background-color: rgb(247, 247, 247);
  .sousuo {
    padding-top: 10px;
    height: 42px;
  }
  .menu {
    background-color: white;
    padding: 0 6px;
    .top {
      height: 48px;
      border-bottom: 1px solid gray;
      background-color: white;
      color: black;
      font-weight: 600;
      font-size: 16px;
      line-height: 48px;
      > span {
        margin-right: 0;
      }
    }
  }
  .kh-list {
    border-bottom: 1px solid rgb(247, 247, 247);
    background-color: white;
    padding: 12px 0;
    > .list-title {
      width: 88px;
      color: black;
      font-weight: 500;
      text-align: center;
      //   line-height: 88px;
      font-weight: 14px;
    }
    > .list-name {
      width: 978px;
      > span {
        display: block;
        width: 88px;
        height: 32px;
        text-align: center;
        line-height: 32px;
        color: gray;
      }
    }
  }
}
.kh-list:after {
  content: "";
  clear: both;
  width: 0px;
  height: 0px;
  display: block;
  overflow: hidden;
  visibility: hidden;
}

.paixu-list {
  background-color: rgb(165, 180, 173);
  .nav {
    background-color: rgb(165, 180, 173);
    > li:first-child {
      color: black;
      font-weight: 900;
    }
  }
  .kouhong {
    background-color: white;
    // >.bigger{
    //   position: relative;
    //   transform: scale(1.1);
    //   border: 1px solid gray;
    //   text-decoration: none;
    //   // background-color: red;
    //   z-index: 99;
    // }
    >.kouhong-icon {
      margin-right: 12px;
      padding: 12px 24px;
      display: block;
      background-color: white;
      width: 252px;
      height: 372px;
      > span {
        display: block;
      }
      > .haiwai {
        font-weight: 800;
        color: rgb(237, 20, 91);
      }
      > img {
        width: 216px;
        height: auto;
      }
      .xiangqing {
        color: black;
      }
      .price {
        padding: 12px 0;
        font-size: 24px;
        color: rgb(237, 20, 91);
      }
      .golook {
        text-align: center;
        line-height: 30px;
        height: 30px;
        font-size: 14px;
        width: 88px;
        color: white;
        background-color: rgb(237, 20, 91);
      }
    }
  }
}
