* {
  margin: 0;
  padding: 0;
}

.fl {
  float: left;
}

.pr {
  position: relative;
}

.pa {
  position: absolute;
}

.fr {
  float: right;
}

img {
  display: block;
}

a {
  color: gray;
  font-size: 12px;
  text-decoration: none;
}

.list {
  list-style-type: none;
}

.main {
  width: 1100px;
  margin: 0 auto;
}

.mainColor {
  color: #ed145b;
}

.mainbcColor {
  background-color: #ed145b;
}

.top {
  height: 32px;
  font-size: 12px;
  color: gray;
  line-height: 32px;
  background-color: #f2f2f2;
}

.top span {
  margin-right: 24px;
}
.top span :hover {
  color: #ed145b;
}

.myjm {
  z-index: 99;
  display: none;
  right: -20px;
  width: 80px;
  border: 1px solid gray;
  border-top: none;
}
.myjm > ul {
  margin-left: 12px;
  color: gray;
}
.myjm > ul > li:hover {
  color: #ed145b;
}

.top .myjm ul:hover {
  color: gray;
}

.more {
  right: -28px;
}

.top .mobile {
  font-size: 12px;
}

.heander {
  height: 110px;
}
.heander > .cont {
  display: flex;
}
.heander > .cont > div {
  width: 366px;
  justify-content: space-around;
}
.heander > .cont > .form {
  width: 700px;
  margin-top: 12px;
}
.heander > .cont > .form form {
  height: 40px;
}
.heander > .cont > .form ul {
  height: 28px;
  margin-top: 8px;
}
.heander > .cont > .form ul > li {
  height: 20px;
  padding: 0px 6px;
  text-align: center;
  border-right: 1px solid gray;
}
.heander > .cont > .form ul > li > a {
  color: gray;
  font-size: 12px;
}
.heander > .cont > .form ul :last-of-type {
  border-right: none;
}
.heander > .cont > .cart {
  height: 34px;
  font-size: 12px;
  color: gray;
}

.search-input {
  width: 438px;
  height: 38px;
  border: 4px solid #ed145b;
  border-right: none;
}

.search-btn {
  height: 38px;
  width: 90px;
  color: white;
  line-height: 38px;
  text-align: center;
  background-color: #ed145b;
}

.heander .cont .cart {
  margin-top: 12px;
  width: 140px;
  height: 38px;
  font-size: 12px;
  text-align: center;
  line-height: 38px;
  border: 1px solid gray;
}
.heander .cont .cart > a {
  color: gray;
  text-decoration: none;
}
.heander .cont .cart > a > .icon-che {
  font-size: 24px;
}

.nav {
  background-color: #151515;
  height: 38px;
}
.nav > .cont {
  color: white;
  font-weight: 400;
  height: 38px;
}
.nav > .cont > ul {
  width: auto;
  height: 100%;
}
.nav > .cont > ul > li {
  width: 108px;
  height: 100%;
  text-align: center;
  line-height: 30px;
}
.nav > .cont > ul :hover {
  color: #b4a5a9;
}
.nav > .cont > .ul2 > li > span {
  font-size: 24px;
}

.fq {
  display: none;
  width: 1200px;
  height: 312px;
  top: 38px;
  left: -325px;
  border: 1px solid gray;
  padding: 6px 12px;
  z-index: 99;
  background-color: white;
}
.fq > div {
  padding: 0 24px;
  width: 288px;
  height: 138px;
  margin-bottom: 18px;
  border-right: 1px dashed gray;
}
.fq > div > dl > dt {
  font-weight: 400;
  margin-top: 12px;
  margin-bottom: 12px;
}
.fq > div > dl > dt > a {
  font-size: 16px;
  color: black;
}
.fq > div > dl > dd {
  padding: 0 6px;
}
.fq > div > dl > dd a {
  color: gray;
  font-size: 14px;
}
.fq > div > dl > dd :first-child {
  width: 100%;
}
.fq > .div-4 {
  border-right: none;
}

.right {
  height: 1660px;
  width: 42px;
  background-color: #444851;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
  box-sizing: border-box;
  color: white;
}
.right .kefu {
  width: 100%;
  margin-top: 150px;
}
.right .kefu > .kefubox {
  z-index: 99;
  display: none;
  padding: 12px;
  right: 42px;
  top: 148px;
  width: 288px;
  height: 208px;
  color: black;
  border: 1px solid gray;
  background-color: white;
}
.right .kefu > .kefubox .girl {
  margin-top: 28px;
  width: 288px;
  text-align: center;
  border-bottom: 1px dashed gray;
  margin-bottom: 12px;
}
.right .kefu > .kefubox .girl > img {
  margin-left: 100px;
  margin-bottom: 12px;
}
.right .kefu > .kefubox > button {
  width: 100px;
  height: 36px;
  line-height: 36px;
  text-align: center;
}
.right .kefu > .kefubox .dingdan {
  margin-left: 36px;
  margin-right: 12px;
}
.right .kefu > .kefubox .glyphicon {
  font-size: 24px;
}
.right .kefu > span {
  padding: 0 6px;
  display: block;
  width: 100%;
  height: 40px;
  font-size: 30px;
}
.right .cart {
  color: white;
  margin-top: 28px;
  height: 118px;
  padding-top: 12px;
}
.right .cart > span {
  padding: 0 6px;
  display: block;
  width: 100%;
  height: 40px;
  font-size: 24px;
}
.right .cart > span > p {
  font-size: 14px;
  margin-left: -6px;
  text-align: center;
}
.right .money {
  width: 100%;
  margin-top: 28px;
}
.right .money > span {
  padding: 0 6px;
  display: block;
  width: 100%;
  height: 40px;
  font-size: 30px;
}
.right .money > div {
  width: 88px;
  height: 42px;
  right: 42px;
  top: 0;
  display: none;
  text-align: center;
  line-height: 42px;
  background-color: #444851;
}

.xinyuan {
  width: 100%;
  margin-top: 28px;
}
.xinyuan > span {
  padding: 0 6px;
  display: block;
  width: 100%;
  height: 40px;
  font-size: 24px;
}
.xinyuan > div {
  width: 88px;
  height: 42px;
  right: 42px;
  top: 0;
  display: none;
  text-align: center;
  line-height: 42px;
  background-color: #444851;
}

.zuji {
  width: 100%;
  margin-top: 28px;
}
.zuji > span {
  padding: 0 6px;
  display: block;
  width: 100%;
  height: 40px;
  font-size: 30px;
}
.zuji > div {
  width: 88px;
  height: 42px;
  right: 42px;
  top: 0;
  display: none;
  text-align: center;
  line-height: 42px;
  background-color: #444851;
}

.cart:hover {
  background-color: #ed145b;
}

.kefu:hover {
  background-color: #ed145b;
}

.zuji:hover {
  background-color: #ed145b;
}

.money:hover {
  background-color: #ed145b;
}

.xinyuan:hover {
  background-color: #ed145b;
}

.banner > img {
  width: 100%;
  height: 100%;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.bodyout {
  background-color: #f7f7f7;
}

.body {
  margin-top: 12px;
  height: auto;
}
.body .title {
  width: 468px;
  height: 48px;
  border: 2px solid gray;
  margin: 0 auto;
}
.body .title > li {
  text-align: center;
  line-height: 44px;
  font-size: 24px;
  font-weight: 500;
  height: 44px;
  width: 232px;
  margin: 0;
}
.body .title .active {
  color: white;
  background-color: #666666;
}
.body .fengqiang {
  margin-bottom: 24px;
  height: 468px;
}
.body .fengqiang > div {
  width: auto;
  margin-top: 20px;
}
.body .fengqiang > div :nth-child(odd) {
  margin-right: 10px;
}
.body .mustLook {
  margin-top: 24px;
}
.body .mustLook .eveyday {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 12px;
}
.body .mustLook .newtoday {
  height: 32px;
  border-bottom: 3px solid black;
}
.body .mustLook .newtoday > span {
  height: 100%;
  display: block;
  line-height: 40px;
  font-size: 20px;
}
.body .mustLook .newtoday .new {
  color: white;
  font-weight: 400;
  padding: 0 12px;
  background-color: black;
  margin-right: 12px;
}
.body .mustLook .newtoday .shidian {
  font-size: 12px;
  color: #ed145b;
}
.body .allshangping:after {
  content: "";
  clear: both;
  width: 0px;
  height: 0px;
  display: block;
  overflow: hidden;
  visibility: hidden;
}
.body .shangping {
  width: 358px;
  height: 478px;
  padding: 6px;
  margin-right: 8px;
  margin-bottom: 12px;
  background-color: white;
}
.body .shangping > .top {
  width: 352px;
  height: 362px;
  overflow: hidden;
  background-color: white;
}
.body .shangping > .top > img {
  margin-left: -238px;
  width: 862px;
  height: 345px;
}
.body .shangping > .top > span {
  display: block;
}
.body .shangping > .top > .mianshui {
  padding: 2px 0;
  width: 42px;
  height: 38px;
  left: 12px;
  top: 12px;
  text-align: center;
  line-height: 18px;
  color: white;
  font-size: 12px;
  background-color: #8b35a0;
}
.body .shangping > .top > a {
  display: none;
  color: white;
  width: 82px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  top: 12px;
  right: 12px;
  background-color: #ed145b;
}
.body .shangping > .top > .haiwai {
  display: none;
  width: 100%;
  height: 28px;
  font-size: 12px;
  color: white;
  text-align: center;
  line-height: 28px;
  bottom: 18px;
  background-color: #8b35a0;
}
.body .shangping > .miaoshu {
  height: 66px;
  font-size: 14px;
}
.body .shangping > .price {
  color: #ed145b;
  font-size: 24px;
}

.body-left {
  display: none;
  position: fixed;
  left: 12px;
  top: 300px;
  width: 40px;
  height: 100px;
}
.body-left > .shouye {
  color: white;
  text-align: center;
  height: 62px;
  width: 62px;
  padding: 12px 0;
  background-color: #ed145b;
}
.body-left > .bikan {
  height: 62px;
  width: 62px;
  padding: 12px 0;
  text-align: center;
  color: gray;
}
.body-left > .bikan > iconfont {
  color: #ed145b;
}
.body-left > .shangxin {
  height: 62px;
  width: 62px;
  padding: 12px 0;
  text-align: center;
  color: white;
  background-color: #ed145b;
}
.body-left > .shangxin > iconfont {
  font-size: 18px;
}

/*# sourceMappingURL=index.css.map */
